<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> sections/header}}
    <main>
        {{#eq deltakerliste.tiltakskode "VARIG_TILRETTELAGT_ARBEID_SKJERMET"}}
            {{> sections/overskrift-med-ingress-vta}}
        {{/eq}}
        {{#not_eq deltakerliste.tiltakskode "VARIG_TILRETTELAGT_ARBEID_SKJERMET"}}
            {{> sections/overskrift-med-ingress}}
        {{/not_eq}}

        {{> sections/innhold}}

        {{> sections/bakgrunnsinfo}}

        {{> sections/deltakelsesmengde}}

        {{> sections/dette-er-et-vedtak}}

        {{> sections/rett-til-klage}}

        {{> sections/dette-deles-med-arrangor}}

        {{> sections/sporsmal}}

        {{> sections/avsender}}
    </main>
</body>
</html>
