<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> amt/sections/header}}
    <main>
        {{> amt/sections/overskrift-med-ingress}}

        {{> amt/sections/innhold-med-beskrivelsetekst}}

        {{> amt/sections/dette-er-et-vedtak}}

        {{> amt/sections/rett-til-klage}}

        <section>
            <h2>Dette deles med arrangøren</h2>
            <p>Nav samarbeider med {{deltakerliste.arrangor.navn}}. Arrangøren behandler opplysninger på vegne av Nav.</p>
            <ul>
                <li>Navn og kontaktinformasjonen til Nav-veilederen din</li>
                <li>Navn og fødselsnummer</li>
                <li>Telefonnummer og e-postadresse</li>
            </ul>
        </section>
        {{> amt/sections/sporsmal}}

        {{> amt/sections/avsender}}
    </main>
</body>
</html>
