<!--Skal slettes og isteden bruke hovedvedtak-individuell-oppfolging-->

<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtak om tiltak"/>
    <meta name="author" content="amt-pdfgen"/>
    <meta name="subject" content="Vedtak"/>

    {{#block 'amt/style' }}
    {{/block}}

    <title>Vedtak om tiltaksdeltakelse</title>

</head>
<body>
    <div id="footer">
        <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
    </div>
    {{> amt/sections/header}}
    <main>
        {{> amt/sections/overskrift-med-ingress-vta}}

        {{> amt/sections/innhold}}

        {{> amt/sections/bakgrunnsinfo}}

        {{> amt/sections/deltakelsesmengde}}

        {{> amt/sections/dette-er-et-vedtak}}

        {{> amt/sections/rett-til-klage}}

        {{> amt/sections/dette-deles-med-arrangor}}

        {{> amt/sections/sporsmal}}

        {{> amt/sections/avsender}}
    </main>
</body>
</html>
