<section>
    <h2>Dette er innholdet</h2>
    {{#if deltakerliste.ledetekst}}
        <p>{{deltakerliste.ledetekst}}</p>
        <br />
    {{/if}}
    {{#if deltaker.innholdBeskrivelse}}
        <p class="fritekst">{{deltaker.innholdBeskrivelse}}</p>
    {{/if}}

</section>