<section>
    <h2>Dette er innholdet</h2>
    <p>{{deltakerliste.ledetekst}}</p>
    {{#if deltaker.innholdBeskrivelse}}
        <br />
        <p>{{deltaker.innholdBeskrivelse}}</p>
    {{/if}}

</section>