<section>
    <h1>{{this.sidetittel}}</h1>
    <p>
        Du er meldt på arbeidsmarkedstiltaket: {{this.ingressnavn}}.
        Når arrangøren har en ledig plass så vil de ta kontakt med deg for å avtale når du skal begynne.
    </p>
    {{> amt/sections/begrunnelse-fra-nav}}
</section>