<section>
    <h1>{{deltakerliste.navn}}</h1>
    <p>
        Du er meldt på arbeidsmarkedstiltaket: {{deltakerliste.navn}}.
        Når arrangøren har en ledig plass så vil de ta kontakt med deg for å avtale oppstart.
    </p>
    {{> amt/sections/begrunnelse-fra-nav}}
</section>