<section>
    <h2>Unntak fra klageretten</h2>
    <p>Etter forvaltningslovforskriften § 33 har du ikke rett til å klage på avgjørelsen når du får avslag på å delta på dette arbeidsmarkedstiltaket.</p>
</section>