{{#if deltaker.innhold}}
    <section>
        <h2>Dette er innholdet</h2>
        {{#if deltaker.innhold.ledetekst}}
            <p id="ledetekst">{{deltaker.innhold.ledetekst}}</p>
            <br />
        {{/if}}

        {{#if deltaker.innhold.fritekstBeskrivelse}}
            <p class="fritekst" id="fritekst">{{deltaker.innhold.fritekstBeskrivelse}}</p>
        {{/if}}

        {{#if deltaker.innhold.valgteInnholdselementer.length}}
            <ul id="innholdselementer">
                {{#each deltaker.innhold.valgteInnholdselementer}}
                    <li class="fritekst">{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}
    </section>
{{/if}}