{{#if deltakerliste.startdato}}
    <p>
        {{#if deltakerliste.sluttdato}}
            Kurset starter {{iso_to_long_date deltakerliste.startdato}}, og slutter {{iso_to_long_date deltakerliste.sluttdato}}.
        {{/if}}
        {{#unless deltakerliste.sluttdato}}
            Kurset starter {{iso_to_long_date deltakerliste.startdato}}.
        {{/unless}}
    </p>
{{/if}}